
qarsan/app/src/main/java/com/qarsan/qarsan/MainActivity.java

android-app/platforms/android/.idea/*
android-app/platforms/android/.idea/workspace.xml


android-app/platforms/android/.gradle/2.3/taskArtifacts/cache.properties

*.bin

android-app/platforms/android/.gradle/2.3/taskArtifacts/cache.properties.lock

QarsaniOS/QarsaniOS.xcodeproj/project.xcworkspace/xcuserdata/*

QarsaniOS/QarsaniOS.xcodeproj/xcuserdata/*
QarsaniOS/QarsaniOS.xcodeproj/project.xcworkspace/xcuserdata/*

QarsaniOS/build/*
